@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

* {
    font-family: 'Montserrat';
}

nav img {
    width: 50px
}

body{
    background-color: #1d282f;
    opacity: 1;
    background-size: 57px 50px;
    background-image:  repeating-linear-gradient(to right, #102229, #5696a0 2px, #1d282f 2px, #1d282f);
}
.card{
    background: #7fecff;
    color: #102229;
    box-shadow: 2px 10px 12px #15181a8e;
}

.login{
    background: #1f333b;
    color: #999;
    max-width: 400px;
}

.form-control{
    border: var(--bs-border-width) solid #5696a0; 
}
.account-icon{
    width: 25px;

}